body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
}



a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 



form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  text-align: center;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}



table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

/*NAVBAR*/
.navbar {
  display: flex;  
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;  
  background-color: rgb(219, 217, 215);
}

.navbar h1{
  margin-left: 100px;
}
.navbar ul {
  list-style: none;  
  padding: 0; 
  margin: 0;  
  display: flex;  
  align-items: center;  
  margin-left: auto;  
}

.navbar li {
  margin-right: 20px;  
}

.navbar button {
  margin-left: 20px;  
}
.navbar img {
  cursor: pointer;  
  width: 30px; 
  height: 30px;
}


/*HOME*/
.grid-wrapper {
  display: flex;  
  justify-content: center;  
  align-items: center; 
  min-height: 100vh;  
  min-width: 100vh; 
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 50px;
  
  
}

/*CONTACT*/

.contact-container {
  display: flex; 
  flex-direction: column;  
  min-height: 100vh;  
}

.content {
  flex: 1;  
  padding: 20px; 
}


/*DETAIL*/

.detail-container {
  display: flex; 
  flex-direction: column;  
  min-height: 100vh;  
}

.detail-content {
  flex: 1;  
  padding: 20px;  
}


/*FORM*/

form {
 
  border-radius: 10px; 
  padding: 20px;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}


label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px; 
  font-size: 16px;
}


input, textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px; 
  font-size: 16px;
  transition: all 0.3s ease; 
}

input:focus, textarea:focus {
  border-color: #007BFF;
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

input[type="submit"] {
  background-color: #007BFF; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px; 
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3; 
}


form p {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


form div {
  display: flex;
  flex-direction: column;
}


/*FOOTER*/



.footer {
  margin-top: 20px;
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  padding: 20px;  
  background-color: #8a8989;  
  color: white;  
}


.footer-logo img {
  max-width: 200px;  
  height: auto;
}


.footer-social ul {
  display: flex;  
  list-style-type: none; 
  padding: 0;
}

.footer-social li {
  margin-left: 15px; 
}

.footer-social img {
  width: 30px;  
  height: 30px;  
  object-fit: contain;  
}

.footer-social a {
  display: inline-block;
}